.banner {
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  margin-bottom: 20px;
}

.page-body {
  .make-appointment-text {
    margin-top: 4rem;
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .appointment-instruction-body {
    margin-top: 5rem;
    margin-bottom: 8rem;
    .appointment-instruction-row {
      margin: 5rem 14rem 0 14rem;
      display: flex;
      justify-content: start;
      gap: 4rem;

      .appointment-instruction-text {
        color: #fff;
        margin-top: 1.3rem;
        font-size: 1.5rem;
      }

      .appointment-img {
        color: #fff;
        font-size: 4rem;
      }
    }
  }
}

@media (max-width: 1177px) {
  .page-body {
    .appointment-instruction-body {
      .appointment-instruction-row {
        .appointment-instruction-text {
          color: #fff;
          margin-top: 1.3rem;
          font-size: 1.3rem;
        }
        .appointment-img {
          color: #fff;
          font-size: 3rem;
        }
      }
    }
  }
}

@media (max-width: 1018px) {
  .page-body {
    .appointment-instruction-body {
      .appointment-instruction-row {
        margin: 5rem 10rem 0 10rem;
      }
    }
  }
}

@media (max-width: 878px) {
  .page-body {
    .make-appointment-text {
      font-size: 1.5rem;
    }

    .appointment-instruction-body {
      .appointment-instruction-row {
        margin: 5rem 8rem 0 8rem;
        gap: 3rem;
        .appointment-instruction-text {
          color: #fff;
          margin-top: 1.3rem;
          font-size: 1.1rem;
        }
        .appointment-img {
          color: #fff;
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    height: 350px;
  }
}

@media (max-width: 712px) {
  .page-body {
    .appointment-instruction-body {
      .appointment-instruction-row {
        margin: 5rem 6rem 0 6rem;
        gap: 2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .page-body {
    .appointment-instruction-body {
      .appointment-instruction-row {
        margin: 5rem 2rem 0 2rem;
        gap: 2rem;

        .appointment-instruction-text {
          color: #fff;
          margin-top: 1.3rem;
          font-size: 0.8rem;
        }
        .appointment-img {
          color: #fff;
          font-size: 2.2rem;
        }
      }
    }
  }
}
