.home-container {
  display: flex;

  .calendar-container {
    width: 50%;
  }
}

.bottom-portion {
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;
  .next-buttons {
    margin: 1rem 11rem 0 0;
  }
  .proceed-info {
    color: #fff;
  }
}

@media (max-width: 440px) {
  .home-container {
    display: flex;
    flex-direction: column;
    .calendar-container {
      width: 100%;
      padding: 0;
    }
  }
}
