.rbc-off-range-bg {
  background: #646464;
}

.rbc-today {
  background: #646464;
}

.rbc-day-bg:hover {
  cursor: pointer;
}

.appointment-heading {
  display: flex;
  justify-content: center;
  color: #fff;
}
