.nav-container {
  background-color: #1b1c1c;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;

  .nav-logo {
    width: 40%;
    margin-right: 8rem;
    margin-left: 3rem;
    display: flex;
    justify-content: start;
    img {
      width: 10rem;
    }
  }

  .nav-list {
    width: 40%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;

    list-style-type: none;
    margin-right: 4rem;

    .nav-items {
      .nav-link {
        color: #fff;
        text-decoration: none;
        transition: color 0.2s;
        &:hover {
          cursor: pointer;

          font-weight: bolder;
        }
      }
    }
  }

  .side-nav {
    visibility: hidden;
  }
}

@media (max-width: 1060px) {
  .nav-container {
    justify-content: space-between;

    .nav-list {
      .nav-items {
        visibility: hidden;
      }
    }

    .side-nav {
      visibility: visible;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 2rem;
      color: #fff;
    }
  }
}
