.time-picker {
  color: #fff;
  display: flex;
  align-items: center;

  margin: 0rem 0 0 5rem;

  .column {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }

  .row {
    margin-right: 3rem;
    cursor: pointer;
    padding: 9px;
    border-radius: 3rem;
    box-sizing: border-box;

    &:hover {
      background-color: #5d7388;
    }

    &.selected {
      background-color: #1976d2; // Color for selected time
    }
  }
}

@media (max-width: 1242px) {
  .time-picker {
    margin: 2rem 0 0 3rem;
  }
}

@media (max-width: 989px) {
  .time-picker {
    margin: 0;
    margin: 2rem 0rem 0 2rem;
  }
}

@media (max-width: 440px) {
  .time-picker {
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
    justify-content: center;

    .row {
      margin: 0.5rem;
    }

    .column {
      gap: 1.5rem;
    }
  }
}
