.footer-container {
  position: relative;
  background-color: #1b1c1c;
  overflow: hidden;
  display: flex;
  color: #fff;
  justify-content: space-between;

  .map-side {
    padding: 3rem 0;
    margin-right: 3rem;
  }

  .left-side {
    display: flex;
    padding-top: 3rem;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 8rem;

    .col1,
    .col2 {
      position: relative;
      padding-bottom: 5px; // Adjust if needed
      width: 35%;

      .footer-heading {
        font-weight: bolder;
        margin-bottom: 3rem;
      }

      .northwest-info {
        color: #828282;
        font-size: 0.9rem;
        line-height: 1.2rem;
      }

      .footer-link {
        margin-bottom: 1.5rem;
        a {
          text-decoration: none;
          color: #828282;
          transition: 0.3s;
          padding-bottom: 1rem;

          &:hover {
            color: #fff;
          }
        }

        .MuiDivider-root {
          margin-top: 0.5rem;
        }
      }
    }
  }
}
